@model IEnumerable<InsuranceCompany.WebApp.Models.Risk.RiskVM>

@{
    ViewData["Title"] = "Risks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="card z-depth-3">
        <div class="card-body">
            <div class="tab-content p-3">
                <h2>Risk table: </h2>
                <div class="mt-4 mb-4">
                    <a href="@Url.Action("Create", "Risks")"><h5>Create Risk</h5></a>
                </div>
                <div class="row justify-content-center">
                    <table id="riskTable" class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.AverageProbability)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    Edit Risk
                                </th>
                                <th>
                                    Delete Risk
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AverageProbability)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Risks", new { id = item.Id })">Edit</a>
                                    </td>
                                    <td>
                                        @{
                                            using (Html.BeginForm("Delete", "Risks", new { id = item.Id }))
                                            {
                                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>