@model IEnumerable<InsuranceCompany.Data.Contracts.Entities.Policy>

@{
    ViewData["Title"] = "Policies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Policies</h3>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    Client Firstname
                </th>
                <th>
                    Employee FirstName
                </th>
                <th>
                    Policy Type Name
                </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @if (@item.Client is not null)
                {
                    @Html.DisplayFor(modelItem => item.Client.FirstName)       
                }
            </td>
            <td>
                @if (@item.Employee is not null)
                {
                    @Html.DisplayFor(modelItem => item.Employee.FirstName)       
                }
            </td>
            <td>
                @if(@item.PolicyType is not null)
                {
                    @item.PolicyType.Name
                }
            </td>
        </tr>
    }
    </tbody>
</table>
